<!DOCTYPE html>
<html>
<head>
  <title>Business Locator</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <h1>Business Locator</h1>
  <p>Welcome to the Main Page</p>
  
	<div>
		<div id="map_canvas">

		    <script id="searchbox.tpl.html" type="text/ng-template">
		      <input type="text" placeholder="Search">
		    </script>
		
			<ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" draggable="true" options="vm.options" events="vm.map.events">

		        <ui-gmap-search-box template="vm.searchbox.template" events="vm.searchbox.events">
				</ui-gmap-search-box>
				
				<ui-gmap-marker coords="vm.marker.coords" options="vm.marker.options" events="vm.marker.events" idkey="vm.marker.id">
				</ui-gmap-marker>
				
				<ui-gmap-markers models="vm.markers" coords="'self'" icon="'icon'">
				</ui-gmap-markers>

		    </ui-gmap-google-map>
		</div>
	
		<button class="button" ng-click="vm.postHome()">Set Home</button>
		<button class="button" ng-click="vm.getPlaces()">Get Places</button>
	</div>

</body>
</html>
