<head>
	<title>Business Locator</title>
	<link rel="stylesheet" href="../css/styles.css">
</head>

<body>
	<h1>Business Locator</h1>
	<p>Welcome to the Main Page</p>
  
	<div>
    	<input 
			id="searchbox-input" 
			class="controls" 
			type="text" 
			placeholder="Search">
			
		<div id="map-canvas">

			<ng-map 
				center="[40, -100]" 
				zoom="4" 
				map-initialized="initMap()">	
			</ng-map>
 		</div>
	
		<button class="button" id="saved-places" ng-click="vm.getAll()">Saved Places</button>
		<button class="button" id="save-place" ng-click="vm.postPlace()">Save Place</button>
		<button class="button" id="delete-place" ng-click="vm.deletePlace()">Delete Place</button>
		
		<div id="yelp-info">
			<p>{{vm.name}}  {{vm.price}}  rating: {{vm.rating}}  review count: {{vm.review_count}}  </p>
			<a href={{vm.url}}>Yelp Reviews</a>
		</div>
	</div>
